<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>WS_URL</key>
	<string>wss://ios-stream-server.ashyglacier-eb2f3bc3.westus2.azurecontainerapps.io/ws</string>
</dict>
</plist>
